/*************全局设置部分***********************************/
body,html,p,h1,h2,h3,h4,h5,h6,a,ul,ol,li,button,input,option,select,textarea,dl,dd,dt,img,div{
	margin: 0;
	padding: 0;
	outline: 0;
}
body {
	color: #3c3c3c;
	background-color: #f1f2f4;
	font: 14px/1.2 "Hiragino Sans GB","Microsoft Yahei",arial,Verdana,tahoma,"\5b8b\4f53",sans-serif;
	margin: 0px;
	padding: 0px;
	borer-sizing:border-box;
}
a {text-decoration: none;color: #3c3c3c;}
/*a:link,a:visited,a:hover,a:active{color: #3c3c3c;}*/
ul,li {list-style:none;}
table {border-spacing: 0;border-collapse: collapse;}
input,button,option{
	border: none;
	background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
	appearance: none;
}
i{font-style: normal;}
img {border: 0;}
/*em,i {font-style: normal;}*/
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
* html .clearfix {height: 1%;}
*+html .clearfix { min-height:1%; }/* ie7 hack*/ 

/***************全局设置部分结束*******************/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.nowrap {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nowrap-3 {
  line-height: 18px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.w-ban {
	width: 1200px;
	margin: 0 auto;
	/*margin-bottom: 45px;*/
}

.fr{float: right;}
.fl{float: left;}
/*-----------------首页------------*/
.sprite {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.m-top{
	background-color: #fff;
}
.logo-text{
	height: 80px;
	line-height: 80px;
}
.logo-img {
	width:236px;
	height: 47px;
	background-position: -83px 0;
}
.login-regist {
	background-color: #fc8158;
	color: #fff;
	width: 82px;
	height: 32px;
	line-height: 32px;
	display:block;
	float: left;
	text-align: center;
	margin-left: 10px;
	border-radius: 2px;
	margin-top: 24px;
}
.login-regist a:link,.login-regist a:visited,.login-regist a:hover,.login-regist a:active{color: #fff;}

.user-nav {
	position: relative;
	float: left;
	color: #fff;
	margin: 18px 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.user-nav:hover {
	background-color: #83b1e8;	
}
.user {
	display: inline-block;
	width: 32px;
	height: 32px;
	
	color: #fff;
	padding: 6px; 
}
.user i{
	text-align: center;
	font-size: 20px;
	background-color: #96bfee;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
}
.user-nav-list {
	position: absolute;
	top: 40px;
	right: 0;
	width: 140px;
	background-color: #83b1e8;
	color: #fff;
	z-index: 10;
	border-radius: 3px;
	border-top-right-radius: 0;
	padding-bottom: 6px;
	display: none;
}

.user-nav-list a{
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	margin-top: 6px;
}
.user-nav-list a:hover {
	background-color: #4e92e0;
}
.user-nav-list i{
	margin-right: 6px;
	line-height: 40px;
}
.top-nav{
	width: 100%;
	background-color: #159df3;
	height: 38px;
	line-height: 38px;
}
.top-nav .w-ban>li {
	position: relative;
	width: 240px;
	float: left;
	text-align: center;
}
.top-nav .w-ban>li>a {
	display: block;
	color: #fff;
}

.top-nav .w-ban>li>a:hover{
	background-color: #0086eb;
}
.mobile-charge-list {
	position: absolute;
	top: 38px;
	bottom: 0;
	width: 240px;
	height: 250px;
	background-color: #fff;
	filter: Alpha(opacity=90);
	background-color: rgba(255,255,255,.9);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 5;
	border: 1px solid #eee;
	display: none;
}
.mobile-charge-list a{
	display: block;
	width: 220px;
	height: 36px;
	line-height: 36px;
	margin: 10px auto;
}
.mobile-charge-list a:hover{
	background-color: #96bfee;
	color: #fff;
}

.m-service {
	width: 100%;
	background-color: #fff;
}

.m-service li {
	float: left;
	width: 300px;
	text-align: center;
	box-sizing: border-box;
	padding: 80px 28px;
}

.m-service img {margin-bottom: 30px;}
.m-service h5{padding-bottom: 10px;}
.m-service p{
	text-align: left;
	line-height: 22px;
	color: #999;
}

.aside-title{
	padding: 40px 0 60px 0;
}
.aside-title h3 {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.aside-title p {
    font-size: 12px;
    text-align: center;
    color: #888;
}
.aside-title .line {
    border: 1px solid #3aa3fb;
    display: block;
    width: 40px;
    height: 0;
    overflow: hidden;
    margin: 20px auto 0 auto;
}

.favorable-list a{
	display: block;
	float: left;
}

.favorable-list .fr{width: 900px;}
.favorable-list .fr a{
	box-sizing: border-box;
	border: 1px solid #eee;
	width: 300px;
	height: 190px;
}

.footer {
	width: 100%;
	height: 180px;
	background-color: #434f67;
	padding: 20px 0;
	margin-top: 100px;
	color: #a0b9db;
	box-sizing:border-box;
}
.footer a{color: #a0b9db;}
.tel-phone {
	height: 180px;
	width: 300px;
	box-sizing:border-box;
	padding: 50px 20px;
}
.tel-phone i{
	font-size: 30px;
	margin-right: 10px;
}
.bot-nav li {
	float: left;
}
.bot-nav a{
	display: block;
	padding: 0 10px;
	border-right: 1px solid #a0b9db;
}
.bot-nav li:last-child a{
	border-right: none;
}

.friend-link li{
	float: left;
	padding:20px 10px;
	font-size: 12px;
}
.bottom-info {
	border-top: 1px solid #a0b9db;
	line-height: 24px;
	color: #a0b9db;
	padding-top: 16px;
	opacity: .3;
	font-size: 12px;
	margin-left: 10px;
}

.customer-service {
	position: fixed;
	right: 60px;
	bottom: 160px;
	text-align: center;
}


.sprite-cancel {
	width: 25px;
	height: 25px;
	background-position: -83px -91px;
	position: absolute;
	top: -20px;
	right: 0;
	cursor: pointer;
}
.ask-girl p{
	height: 24px;
	line-height: 24px;
	border: 1px solid #e1e1e1;
	margin-top: 4px;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
}

.share,.slideUp {
	position: fixed;
	right: 80px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
    background-color: #159df3;
    border-radius: 4px;
    margin-left: 16px;
    display: block;
    cursor: pointer;
}
.slideUp{bottom: 20px;}
.share{bottom: 90px;}
.share i {
    font-size: 26px;
    padding-top: 4px;
}

.slideUp i {font-size: 40px;line-height: 60px;}

.ask-girl,.share-container {position: relative;}
.slideUp,.share-type,.share{display: none;}
.share-type ul{
	background-color: #fff;
    position: absolute;
    top: 5px;
    right: 83px;
    width: 180px;
    height: 70px;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
}
.share-type li {
	float: left;
	width: 60px;
}
.share-type i{font-size: 30px;margin-top: 8px;}
.right-triangle{
	width: 9px;
    height: 17px;
    background-position: -361px -78px;
    position: absolute;
    right: 75px;
    top: 30px;
}
.share-type i.icon-qq {color: #3aa3fb;}
.share-type i.icon-weixin {color: #7fd077;}
.share-type i.icon-weibo {color: #fc8158;}


/*-------我的订单-充值订单---------------*/
.user-info {
	line-height: 24px;
}
.btn {
	display: block;
    height: 32px;
    line-height: 32px;
    background-color: #eb5345;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 80px;
    cursor: pointer;
}

.user-info {
	line-height: 24px;
    float: left;
    margin-top: 16px;
}
.member,.balance {float: left;}
.member {color: #fdb235; margin-right: 10px;}
.vip {
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: #fdb235;
	font-size: 12px;
}
.balance {color: #999;margin-right: 10px;}
.amount {color: #eb5345;}

/*右上角购物车*/
.cart-container {
	 float: left;
	 width: 136px;
	 margin: 18px 0;
	 border-top-left-radius: 4px;
	 border-top-right-radius: 4px;
	 display: block;
	 position: relative;
	 cursor: pointer;
}
.btn-cart {
    background-color: #e9ebee;
    height: 32px;
    line-height: 32px;
    text-align: center;  
    border-radius: 4px;
    position: relative;
    margin: 6px;
}
.cart-container:hover {
	background-color: #e0e1e4;
}
.btn-cart .icon-shopping {
	color: #159df3 !important;
	font-size: 22px;
	vertical-align: middle;
}
.cart-num {
	position: absolute;
	top: -8px;
    right: -8px;
	display: inline-block;
	background-position:  -361px -26px;
	width: 18px;
	height: 18px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
	 -webkit-text-size-adjust:none;
}
.btn-balance {
    float: left;
    margin: 24px 0 24px 10px;
}
.cart-box {
	position: absolute;
	top: 43px;
	right: 0;
	width: 320px;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	border-top-right-radius: 0;
	overflow: hidden;
	z-index: 10;
	display: none;
}
.cart-title {
	height: 42px;
	line-height: 42px;
	background-color: #e0e1e4;
	padding: 0 14px;
	position: absolute;
	z-index: 11;
	width: 320px;
	box-sizing:border-box;
}
.cart-box-list {
	height: 300px;
	overflow-y: auto;
	font-size: 12px;
	margin-top: 42px;
	margin-bottom: 60px;
}
.cart-box-list li {
	padding: 10px;
	border-bottom: 1px solid #e1e1e1;
	width: 100%;
	overflow: hidden;
	box-sizing:border-box;
}
.mobile-info {
	width: 200px;
    display: inline-block;
    margin-right: 10px;
}
.mobile-info img {
	float: left;
    width: 46px;
    height: 46px;
    padding: 3px;
    border: 1px solid #e1e1e1;
    margin-right: 10px;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
}
.cart-detail {
	line-height: 18px;
	text-align: right;
}
.delete {color: #999;}
.delete:hover,.mobile-info:hover{color:#159df3;}
.t-clear{width: 100%;overflow: hidden;}

.empty-cart {
	height: 60px;
	line-height: 60px;
	text-align: center;
	padding-top: 42px;
}

.label-sale {
	color: #eb5345;
	margin-top: 10px;
}
.label-sale span {
	color: #fff;
	padding: 2px 4px;
	background-color: #eb5345;
	border-radius: 2px;
	margin-right: 6px;
}
.bottom-calculate {
	position: absolute;
	bottom: 0;
	height: 60px;
	padding: 0 10px;
	background-color: #eff0f3;
	z-index: 11;
	width: 100%;
    box-sizing: border-box;
}
.pro-num,.pro-cost{
	float: left;
	margin-right: 10px;
	line-height: 60px;
}

.bottom-calculate .btn {
	margin-top: 14px;
}
/*---左侧导航*/
.left-nav {
	width: 160px;
	background-color: #414956;
	float: left;
	margin: 30px 20px 0 0;
}

.left-nav a{
	display: block;
	height: 50px;
	line-height: 50px;
	box-sizing:border-box;
	padding: 0 10px;
	color: #fff;
	border-left: 3px solid transparent;
	border-bottom: 1px solid #3b414d;
}
.left-nav li.active a,.left-nav a:hover{
	background-color: #3b414d;
	border-left: 3px solid #159df3;
}
.left-nav i{
	padding-right: 10px;
}

/*日期插件*/
.calendar {
	height: 60px;
	padding: 0 14px;
	border-bottom: 1px solid #90bad6;
	box-sizing: border-box;
}
.startTime,.endTime {
	display: inline-block;
	margin: 14px;
}
/*------------订单-------------*/
.order {
	width: 1020px;
	float: right;
	background-color: #fff;
	border-radius: 6px;
	margin-top: 20px;
}
.order-title {
	position: relative;
    border-bottom: 2px solid #dde3e7;
}
.order-title ul{
	font-size: 16px;
	position: relative;
    bottom: -2px;
}
.order-title li {
	display: inline-block;
	height: 58px;
	line-height: 58px;
	text-align: center;
	
	border-bottom: 2px solid transparent;
}
.order-title li a{
	border-right: 1px solid #e0e3e6;
	padding: 2px 20px;
}
.order-title li:last-child a{
	border-right: none;
}
.order-title li.active{border-color:#159df3; }
.order-title li.active a{color: #159df3;}

/*表格*/
.table {
	text-align: center;
	width: 1020px;
	font-size: 12px;
}
.table tr {
	border-bottom: 1px solid #e0e3e6;
}
.table th {
	line-height: 50px;
}
.table td {
	line-height: 80px;
	color: #666;
	padding: 0 10px;
}
.detail-info {
	padding: 3px 5px;
	background-color: #ecf0f3;
	border: 1px solid #d5dadd;
	border-radius: 2px;
	cursor: pointer;
}

/*弹窗*/
.ui-dialog {
	position: fixed;
	background-color: #000;
	filter: Alpha(opacity=70);
	background-color: rgba(0,0,0,.8);
	z-index: 10;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	overflow: hidden;
	display: none;
}

.dialog-container {
	position: absolute;
	width: 860px;
	height: 460px;
	left: 50%;
	margin-left: -430px;
	margin-top: 100px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.dialog-container h5 {
	line-height: 60px;
	background-color: #159df3;
	color: #fff;
	padding: 0 14px;
}
.dialog-container .icon-error {
	display: inline-block;
	float: right;
	background-color: #fc8158;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-radius: 1px;
	margin-top: 16px;
	cursor: pointer;
}
.dialog-content{
	height: 400px;
	overflow-y: auto;
}
.label-wrong,.table td.label-wrong {color: #eb5345;}
.label-warning,.table td.label-warning{color: #fc8158;}
.label-success,.table td.label-success{color: #6ec884;}

.order-info li {
	line-height: 50px;
	border-bottom: 1px solid #e0e3e6;
	padding: 0 20px;
}
.order-info label{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}
.order-info span{
	color: #666;
}

/*--------------------个人中心---------------------*/
.white-container {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e0e3e6;
	overflow: hidden;
	margin-bottom: 20px;
}
.p-top-info{
	padding: 10px 14px;
	border-bottom: 1px solid #e0e3e6;
	overflow: hidden;
}
.p-top-info .user-info p{
	font-size: 18px;
}
.center-info {
	margin: 30px 20px 0 0;
	width: 720px;
	box-sizing:border-box;
	float: left;
}

.user-logo {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	float: left;
	box-sizing:border-box;
	border: 1px solid #e0e3e6;
	margin-right: 14px;
}

.btn-gray {
	display: inline-block;
	background-color: #ecf0f3;
	line-height: 38px;
	height: 38px;
	border: 1px solid #e0e3e6;
	color: #666;
	border-radius: 2px;
	box-sizing:border-box;
	cursor: pointer;
}
.btn-gray i {
	color: #d5dadd;
	vertical-align: middle;
}
.p-top-info .btn-gray {
	margin-top: 20px;
	margin-left: 8px;
	padding: 0 10px;
}
.p-bottom-info {
	height: 100px;
	box-sizing: border-box;
}
.user-balance,.user-brokerage{
	width: 50%;
	float: left;
	box-sizing:border-box;
	padding-left: 45px;
	margin: 26px 0;
}

.user-balance .btn,
.user-brokerage .btn-gray {
	width: 80px;
	height: 32px;
	line-height: 32px;
	margin-top: 16px;
	margin-left: 6px;
	text-align: center;
}
.user-balance {
	border-right: 1px solid #ecf0f3;	
}
.coin {
	width: 48px;
	height: 48px;
	background-position: -33px 0;
	margin-right: 10px;
}
.brokerage {
	width: 48px;
	height: 48px;
	background-position: -33px -50px;
	margin-right: 10px;
}
.user-money {
	padding: 0 10px;
	float: left;
	line-height: 24px;
}
.title-bar {
	height: 55px;
	line-height: 55px;
	margin: 0 14px;
	border-bottom: 1px solid #e0e3e6;
}
.title-bar a,.title-bar-bg a{
	float: right;
	display: block;
	color: #159df3;
}
.title-bar-bg {
	background-color: #a0cdeb;
	color: #fff;
	padding: 0 14px;
	line-height: 40px;
	height: 40px;
}
.title-bar-bg a {
	color: #fff;
}
.user-order-info li{
	width: 50%;
	border-right: 1px solid #ecf0f3;
	width: 25%;
	box-sizing:border-box;
	margin: 34px 0;
	text-align: center;
	float: left;
	line-height: 32px;
}
.user-order-info li:last-child{border-right: none;}
.user-order-info i{
	color: #96bfee;
	font-size: 30px;
	vertical-align: middle;
	margin-right: 6px;
}
.user-order-info a{
	display: inline-block;
}

.account-table {width: 720px;}
.account-table tbody tr:last-child{border-bottom: none;}
.label-yellow,.account-table .label-yellow{color: #fdb235;}

/*右侧*/
.activity-notice {
	width: 280px;
    box-sizing: border-box;
    margin-top: 30px;
}
.title-green {background-color: #6ec884;}
.activity-notice li {
	border-bottom: 1px solid #e0e3e6;
	padding: 16px 14px;
	line-height: 18px;
	color: #999;
	font-size: 12px;
	text-align: justify;
}
.activity-notice li:last-child{border-bottom: none;}
.activity-notice a {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
.activity-notice a:hover{
	color: #75a9e5;
	text-decoration: underline;
}

.ad-img {width: 280px;}

/*-------------推广中心--------------*/
.popularize-list{
	margin-top: 30px;
}
.popularize-list li {
	width: 380px;
	float: left;
	margin: 0 10px 20px 10px;
	box-sizing:border-box;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e3e6;
	border-radius: 4px;
}

.popularize-list img {width: 100%;}
.popularize-list h5{line-height: 24px;padding: 6px 0;}
.popularize-list p {
	color: #999;
	line-height: 20px;
}
.font-time,.font-detail {
	color: #ccc;
	font-size: 12px;
	margin-top: 6px;
}
.font-detail{
	color: #159df3;
	cursor: pointer;
}

/*---------------我的资料-----------------*/
.right-container  {
	margin-top: 30px;
	float: right;
	width: 1018px;
}
.data-title {
	padding: 9px 20px;
	line-height: 32px;
	color: #159df3;
	border-bottom: 1px solid #e0e3e6;
	width: 100%;
	overflow-y: hidden;
	box-sizing: border-box;
	cursor: pointer;
}
.add-addr-info,.btn-blue {
	width: 100px;
	height: 32px;
	line-height: 32px;
	color: #159df3;
	border: 1px solid #159df3;
	text-align: center;
	border-radius: 2px;
}

.input-form {
	padding: 30px 100px;
}
.input-line {
	margin-bottom: 30px;
}
.input-line label {
	width: 60px;
    display: inline-block;
    text-align: right;
    margin-right: 14px;
    height: 40px;
    line-height: 40px;
    /*float: left;*/
    vertical-align: top;
}
.input-line input,.input-line select {
	height: 38px;
	line-height: 38px;
	border: 1px solid #e0e3e6;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.input-text {
	display: inline-block;
	position: relative;
}
.input-wrong {
	position: absolute;
	top: 40px;
	color: #eb5345;
	font-size: 12px;
}
.input-wrong i{font-size: 14px;}
.label-operator {
	position: absolute;
	right: 40px;
	line-height: 38px;
	height: 38px;
	top: 0;
}
.label-operator i {
	color: #6ec884;
}
.input-line input{
	width: 200px;
	box-sizing: border-box;
	padding: 0 10px;
}
input.text2 {
	width: 400px;
}
.address-info {
	line-height: 60px;
	padding: 0 100px;
}

.checkbox{
    display: inline-block;
    position: relative;
    height: 18px;
    line-height:18px;
    border: 1px solid #3a97e5;
    border-radius: 1px; 
    text-align: center;
}

.checkbox input {
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    /*top: -2px;*/
    /*border: 1px solid #e0e3e6;*/
}

*.checkbox input{
    filter: Alpha(opacity=100);
}

.checkbox i{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.checkbox input:checked + i {
    color: #fff;
    background-color: #3a97e5;
    opacity: 1;
    filter: Alpha(opacity=100);
}
.person-info {
	display: inline-block;
}
.person-info p{
	margin-left: 16px;
	display: inline-block;
}
.default-addr {
	color: #fc8158;
	border: 1px solid #fc8158;
	padding: 0 4px;
	height: 20px;
	line-height: 20px;
}
.detail-addr span {padding-right: 6px;}

.btn-confirm {margin: 40px 0 45px 100px;}
.btn-save {
	height: 40px;
	line-height: 40px;
	background-color: #6ec884;
	width: 160px;
	cursor: pointer;
	border-radius: 2px;
}
.b-top {
	margin: -20px 0 20px 176px;
}

/*------------空中充值-话费慢充-----*/
.gray-container {
	background-color: #e9ebee;
	margin-top: 30px;
	border: 1px solid #e0e3e6;
}

.left-nav-2 li a{
	display: block;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #e0e3e6;
	width: 180px;
	padding-left: 20px;
	font-size: 16px;
	box-sizing:border-box;
	border-left: 3px solid transparent;
}
.left-nav-2 li i{
	font-size: 24px;
	padding-right: 6px;
	vertical-align: middle;
}
.left-nav-2 li.active a{
	background-color: #fff;
	color: #159df3;
	border-left-color: #159df3;
}
.charge-container {
	float: left;
	background-color: #fff;
	width: 1020px;
	height: 100%;
}
.charge-container .title-bar{
	height: 80px;
	line-height: 80px;
}
.charge-container .order-title {
	margin: 0 20px;
}
.sprite-tip{
	width: 14px;
	height: 14px;
	background-position: -335px 0;
	margin-right: 4px;
}
.tip-container {
	margin: 40px 100px 100px 100px;
}
.tip-content {
	background-color: #def1fc;
	color: #6e9acc;
	border: 1px solid #96bfee;
	padding: 20px;
	font-size: 12px;
	line-height: 24px;
	margin-top: 10px;
}
.select-box {
	display: inline-block;
	width: 600px;
	position: relative;
}
.select-box li {
	height: 38px;
	line-height: 38px;
	width: 120px;
	text-align: center;
	border: 1px solid #e0e3e6;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
.select-box li.active {
	border-color: #159df3;
	border-width: 2px;
}
.sprite-hui {
	width: 20px;
	height: 20px;
	background-position: -335px -78px;
	position: absolute;
	top: -6px;
	right: -6px;
}
.sprice-select {
	width: 17px;
	height: 17px;
	background-position: -335px  -26px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.label-tip {
	display: inline-block;
	color: #eb5345;
}
.label-text {font-size: 12px;line-height: 26px;}
.label-cost {
	display: inline-block;
	line-height: 40px;
	height: 40px;
}
.label-cost  span {
	color: #eb5345;
	font-size: 24px;
}
.btn-recharge {
	width: 220px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
	display: inline-block;
	margin-right: 20px;
}
/*-----最后-----*/
.show {display: block;}
.hide{display: none;}